* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back {
  margin: 30px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}


.container {
  width: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 22px;
  box-shadow: 0 18px 45px rgba(0,0,0,0.15);
}


.icon {
  width: 65px;
  height: 65px;
  background: #4f46e5;
  color: #fff;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  margin: auto;
}


h1 {
  text-align: center;
  margin-top: 20px;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-bottom: 30px;
}


label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 28px;
  margin-bottom: 22px;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
}


.submit-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #4f46e5;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}


.note {
  margin-top: 25px;
  padding: 16px;
  background: #a9a9a9;
  border-radius: 18px;
  font-size: 14px;
}


.footer {
  margin-top: 25px;
  font-size: 13px;
}
